@font-face {
  src: url(fonts/Akira\ Expanded\ Demo.otf);
  font-family: 'Akira';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background:#222;
    font-family: Akira, sans-serif;
  }

h1 {
    font-size: 40px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
  }

h2 {
    font-size: 25px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 120px;
    text-align: center;
  }

#container {
    display: flex;
}

#chart {
  width: 500px;
  margin: 35px;
}

#column {
  
  flex-direction: column;
}

.expenses {
  color: white;
}

.budget{
  padding-top: 50px;
  padding-left: 95px;
  width: 150px;
  margin: 35px;
}

table {
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  overflow: hidden;

  thead {
    box-shadow: 0 5px 10px ;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }
